In [1]:
import requests
import pandas as pd

In [2]:
response = requests.get('https://api.exchangeratesapi.io/latest')
output = response.json()

In [3]:
df = pd.DataFrame()

In [4]:
df = df.append({k: output[k] for k in output}, ignore_index=True)
df

  base        date                                              rates
0  EUR  2020-07-17  {'CAD': 1.551, 'HKD': 8.8617, 'ISK': 160.2, 'P...

In [5]:
response = requests.get('https://api.exchangeratesapi.io/latest')
output = response.json()
df = df.append({k: output[k] for k in output}, ignore_index=True)
df

  base        date                                              rates
0  EUR  2020-07-17  {'CAD': 1.551, 'HKD': 8.8617, 'ISK': 160.2, 'P...
1  EUR  2020-07-17  {'CAD': 1.551, 'HKD': 8.8617, 'ISK': 160.2, 'P...

In [6]:
output = requests.get('https://api.exchangeratesapi.io/latest').json()
output

{'rates': {'CAD': 1.551,
  'HKD': 8.8617,
  'ISK': 160.2,
  'PHP': 56.511,
  'DKK': 7.4453,
  'HUF': 353.72,
  'CZK': 26.682,
  'AUD': 1.636,
  'RON': 4.8422,
  'SEK': 10.333,
  'IDR': 16793.45,
  'INR': 85.67,
  'BRL': 6.0839,
  'RUB': 81.8409,
  'HRK': 7.538,
  'JPY': 122.53,
  'THB': 36.238,
  'CHF': 1.0753,
  'SGD': 1.5887,
  'PLN': 4.4827,
  'BGN': 1.9558,
  'TRY': 7.8413,
  'CNY': 7.9975,
  'NOK': 10.5995,
  'NZD': 1.7463,
  'ZAR': 19.0496,
  'USD': 1.1428,
  'MXN': 25.6132,
  'ILS': 3.9253,
  'GBP': 0.91078,
  'KRW': 1376.55,
  'MYR': 4.8723},
 'base': 'EUR',
 'date': '2020-07-17'}

In [7]:
pd.DataFrame(data=output).T

,AUD,BGN,BRL,CAD,CHF,CNY,CZK,DKK,GBP,HKD,...,PHP,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,ZAR
rates,1.636,1.9558,6.0839,1.551,1.0753,7.9975,26.682,7.4453,0.91078,8.8617,...,56.511,4.4827,4.8422,81.8409,10.333,1.5887,36.238,7.8413,1.1428,19.0496
base,EUR,EUR,EUR,EUR,EUR,EUR,EUR,EUR,EUR,EUR,...,EUR,EUR,EUR,EUR,EUR,EUR,EUR,EUR,EUR,EUR
date,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17,...,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17,2020-07-17

In [8]:
pd.DataFrame(data={k: output[k] for k in output})

           rates base        date
AUD      1.63600  EUR  2020-07-17
BGN      1.95580  EUR  2020-07-17
BRL      6.08390  EUR  2020-07-17
CAD      1.55100  EUR  2020-07-17
CHF      1.07530  EUR  2020-07-17
CNY      7.99750  EUR  2020-07-17
CZK     26.68200  EUR  2020-07-17
DKK      7.44530  EUR  2020-07-17
GBP      0.91078  EUR  2020-07-17
HKD      8.86170  EUR  2020-07-17
HRK      7.53800  EUR  2020-07-17
HUF    353.72000  EUR  2020-07-17
IDR  16793.45000  EUR  2020-07-17
ILS      3.92530  EUR  2020-07-17
INR     85.67000  EUR  2020-07-17
ISK    160.20000  EUR  2020-07-17
JPY    122.53000  EUR  2020-07-17
KRW   1376.55000  EUR  2020-07-17
MXN     25.61320  EUR  2020-07-17
MYR      4.87230  EUR  2020-07-17
NOK     10.59950  EUR  2020-07-17
NZD      1.74630  EUR  2020-07-17
PHP     56.51100  EUR  2020-07-17
PLN      4.48270  EUR  2020-07-17
RON      4.84220  EUR  2020-07-17
RUB     81.84090  EUR  2020-07-17
SEK     10.33300  EUR  2020-07-17
SGD      1.58870  EUR  2020-07-17
THB     36.23800  EUR  2020-07-17
TRY      7.84130  EUR  2020-07-17
USD      1.14280  EUR  2020-07-17
ZAR     19.04960  EUR  2020-07-17

In [15]:
def latest(base=None, symbols=None):
    if base == None and symbols == None:
        return pd.DataFrame(data=requests.get('https://api.exchangeratesapi.io/latest').json())
    elif base != None and symbols == None:
        return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/latest?base={base}').json())
    elif base == None and symbols != None:
        if type(symbols) == type(str()):
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/latest?symbols={symbols}').json())
        else:
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/latest?symbols={",".join(symbols)}').json())
    else:
        if type(symbols) == type(str()):
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/latest?base={base}&symbols={symbols}').json())
        else:
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/latest?base={base}&symbols={",".join(symbols)}').json())

def history_date(date, base=None, symbols=None):
    if base == None and symbols != None:
        if type(symbols) == type(str()):
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/{date}?symbols={symbols}').json())
        else:
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/{date}?symbols={",".join(symbols)}').json())
    elif base != None and symbols != None:
        if type(symbols) == type(str()):
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/{date}?base={base}&symbols={symbols}').json())
        else:
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/{date}?base={base}&symbols={",".join(symbols)}').json())
    elif base != None and symbols == None:
        return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/{date}?base={base}').json())
    else:
        return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/{date}').json())

def history_term(start_date, end_date, base=None, symbols=None):
    if base == None and symbols == None:
        return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/history?start_at={start_date}&end_at={end_date}').json()).drop(['start_at', 'end_at'], axis=1)
    elif base != None and symbols == None:
        return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/history?start_at={start_date}&end_at={end_date}&base={base}').json()).drop(['start_at', 'end_at'], axis=1)
    elif base == None and symbols != None:
        if type(symbols) == type(str()):
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/history?start_at={start_date}&end_at={end_date}&symbols={symbols}').json()).drop(['start_at', 'end_at'], axis=1)
        else:
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/history?start_at={start_date}&end_at={end_date}&symbols={",".join(symbols)}').json()).drop(['start_at', 'end_at'], axis=1)
    else:
        if type(symbols) == type(str()):
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/history?start_at={start_date}&end_at={end_date}&base={base}&symbols={symbols}').json()).drop(['start_at', 'end_at'], axis=1)
        else:
            return pd.DataFrame(data=requests.get(f'https://api.exchangeratesapi.io/history?start_at={start_date}&end_at={end_date}&base={base}&symbols={",".join(symbols)}').json()).drop(['start_at', 'end_at'], axis=1)

In [16]:
latest(base='EUR', symbols=['USD','GBP'])

       rates base        date
GBP  0.91078  EUR  2020-07-17
USD  1.14280  EUR  2020-07-17

In [17]:
history_term('2019-01-01', '2019-01-31')

                                                        rates base
2019-01-02  {'CAD': 1.5547, 'HKD': 8.9294, 'ISK': 133.4, '...  EUR
2019-01-03  {'CAD': 1.5392, 'HKD': 8.8884, 'ISK': 133.6, '...  EUR
2019-01-04  {'CAD': 1.5328, 'HKD': 8.9325, 'ISK': 134.0, '...  EUR
2019-01-07  {'CAD': 1.5281, 'HKD': 8.9677, 'ISK': 135.2, '...  EUR
2019-01-08  {'CAD': 1.5208, 'HKD': 8.9671, 'ISK': 136.1, '...  EUR
2019-01-09  {'CAD': 1.5172, 'HKD': 8.9789, 'ISK': 136.9, '...  EUR
2019-01-10  {'CAD': 1.5251, 'HKD': 9.0414, 'ISK': 137.1, '...  EUR
2019-01-11  {'CAD': 1.5247, 'HKD': 9.0427, 'ISK': 138.1, '...  EUR
2019-01-14  {'CAD': 1.5226, 'HKD': 8.9934, 'ISK': 138.5, '...  EUR
2019-01-15  {'CAD': 1.5154, 'HKD': 8.9594, 'ISK': 138.5, '...  EUR
2019-01-16  {'CAD': 1.5101, 'HKD': 8.9338, 'ISK': 138.5, '...  EUR
2019-01-17  {'CAD': 1.5153, 'HKD': 8.9395, 'ISK': 137.6, '...  EUR
2019-01-18  {'CAD': 1.5134, 'HKD': 8.9441, 'ISK': 137.8, '...  EUR
2019-01-21  {'CAD': 1.5117, 'HKD': 8.9134, 'ISK': 137.8, '...  EUR
2019-01-22  {'CAD': 1.5128, 'HKD': 8.909, 'ISK': 137.0, 'P...  EUR
2019-01-23  {'CAD': 1.5132, 'HKD': 8.9183, 'ISK': 137.2, '...  EUR
2019-01-24  {'CAD': 1.516, 'HKD': 8.8988, 'ISK': 135.9, 'P...  EUR
2019-01-25  {'CAD': 1.5107, 'HKD': 8.9021, 'ISK': 135.9, '...  EUR
2019-01-28  {'CAD': 1.5115, 'HKD': 8.9586, 'ISK': 136.4, '...  EUR
2019-01-29  {'CAD': 1.5142, 'HKD': 8.962, 'ISK': 136.8, 'P...  EUR
2019-01-30  {'CAD': 1.5111, 'HKD': 8.9662, 'ISK': 137.0, '...  EUR
2019-01-31  {'CAD': 1.5109, 'HKD': 9.0137, 'ISK': 137.2, '...  EUR

In [18]:
history_date('2019-01-02')

           rates base        date
AUD      1.62730  EUR  2019-01-02
BGN      1.95580  EUR  2019-01-02
BRL      4.39300  EUR  2019-01-02
CAD      1.55470  EUR  2019-01-02
CHF      1.12390  EUR  2019-01-02
CNY      7.81650  EUR  2019-01-02
CZK     25.75200  EUR  2019-01-02
DKK      7.46690  EUR  2019-01-02
GBP      0.90165  EUR  2019-01-02
HKD      8.92940  EUR  2019-01-02
HRK      7.42050  EUR  2019-01-02
HUF    322.37000  EUR  2019-01-02
IDR  16484.11000  EUR  2019-01-02
ILS      4.27080  EUR  2019-01-02
INR     79.98550  EUR  2019-01-02
ISK    133.40000  EUR  2019-01-02
JPY    124.28000  EUR  2019-01-02
KRW   1278.52000  EUR  2019-01-02
MXN     22.39410  EUR  2019-01-02
MYR      4.71950  EUR  2019-01-02
NOK      9.91080  EUR  2019-01-02
NZD      1.70490  EUR  2019-01-02
PHP     59.89400  EUR  2019-01-02
PLN      4.29640  EUR  2019-01-02
RON      4.66000  EUR  2019-01-02
RUB     79.35890  EUR  2019-01-02
SEK     10.21450  EUR  2019-01-02
SGD      1.55550  EUR  2019-01-02
THB     36.80700  EUR  2019-01-02
TRY      6.11300  EUR  2019-01-02
USD      1.13970  EUR  2019-01-02
ZAR     16.50750  EUR  2019-01-02

In [19]:
pd.DataFrame(data=history_date('2019-01-02'))

           rates base        date
AUD      1.62730  EUR  2019-01-02
BGN      1.95580  EUR  2019-01-02
BRL      4.39300  EUR  2019-01-02
CAD      1.55470  EUR  2019-01-02
CHF      1.12390  EUR  2019-01-02
CNY      7.81650  EUR  2019-01-02
CZK     25.75200  EUR  2019-01-02
DKK      7.46690  EUR  2019-01-02
GBP      0.90165  EUR  2019-01-02
HKD      8.92940  EUR  2019-01-02
HRK      7.42050  EUR  2019-01-02
HUF    322.37000  EUR  2019-01-02
IDR  16484.11000  EUR  2019-01-02
ILS      4.27080  EUR  2019-01-02
INR     79.98550  EUR  2019-01-02
ISK    133.40000  EUR  2019-01-02
JPY    124.28000  EUR  2019-01-02
KRW   1278.52000  EUR  2019-01-02
MXN     22.39410  EUR  2019-01-02
MYR      4.71950  EUR  2019-01-02
NOK      9.91080  EUR  2019-01-02
NZD      1.70490  EUR  2019-01-02
PHP     59.89400  EUR  2019-01-02
PLN      4.29640  EUR  2019-01-02
RON      4.66000  EUR  2019-01-02
RUB     79.35890  EUR  2019-01-02
SEK     10.21450  EUR  2019-01-02
SGD      1.55550  EUR  2019-01-02
THB     36.80700  EUR  2019-01-02
TRY      6.11300  EUR  2019-01-02
USD      1.13970  EUR  2019-01-02
ZAR     16.50750  EUR  2019-01-02

In [20]:
history_term('2019-01-01', '2019-01-31', base='INR')

                                                        rates base
2019-01-02  {'CAD': 0.019437273, 'HKD': 0.1116377343, 'ISK...  INR
2019-01-03  {'CAD': 0.0193347402, 'HKD': 0.1116520953, 'IS...  INR
2019-01-04  {'CAD': 0.0192971302, 'HKD': 0.1124553861, 'IS...  INR
2019-01-07  {'CAD': 0.0191756756, 'HKD': 0.1125330188, 'IS...  INR
2019-01-08  {'CAD': 0.0189519596, 'HKD': 0.1117465263, 'IS...  INR
2019-01-09  {'CAD': 0.0188153008, 'HKD': 0.111350319, 'ISK...  INR
2019-01-10  {'CAD': 0.0187819041, 'HKD': 0.111346605, 'ISK...  INR
2019-01-11  {'CAD': 0.0187430468, 'HKD': 0.1111613756, 'IS...  INR
2019-01-14  {'CAD': 0.0187467295, 'HKD': 0.1107295662, 'IS...  INR
2019-01-15  {'CAD': 0.0186554394, 'HKD': 0.1102953306, 'IS...  INR
2019-01-16  {'CAD': 0.0186419441, 'HKD': 0.1102863386, 'IS...  INR
2019-01-17  {'CAD': 0.0187128364, 'HKD': 0.1103962261, 'IS...  INR
2019-01-18  {'CAD': 0.0186637891, 'HKD': 0.1103018344, 'IS...  INR
2019-01-21  {'CAD': 0.0186782976, 'HKD': 0.1101323926, 'IS...  INR
2019-01-22  {'CAD': 0.0186659428, 'HKD': 0.1099252276, 'IS...  INR
2019-01-23  {'CAD': 0.0186691506, 'HKD': 0.1100297951, 'IS...  INR
2019-01-24  {'CAD': 0.0187958738, 'HKD': 0.1103302916, 'IS...  INR
2019-01-25  {'CAD': 0.018735273, 'HKD': 0.1104013195, 'ISK...  INR
2019-01-28  {'CAD': 0.0186071991, 'HKD': 0.1102841245, 'IS...  INR
2019-01-29  {'CAD': 0.0186234718, 'HKD': 0.1102255676, 'IS...  INR
2019-01-30  {'CAD': 0.0185750636, 'HKD': 0.1102162235, 'IS...  INR
2019-01-31  {'CAD': 0.0184964376, 'HKD': 0.1103457141, 'IS...  INR

In [27]:
history_term('2010-01-01', '2019-12-31', base='INR', symbols='EUR')

                            rates base
2010-01-04   {'EUR': 0.015010282}  INR
2010-01-05  {'EUR': 0.0149729738}  INR
2010-01-06  {'EUR': 0.0152054253}  INR
2010-01-07  {'EUR': 0.0152951973}  INR
2010-01-08  {'EUR': 0.0153115909}  INR
...                           ...  ...
2019-12-23  {'EUR': 0.0126669665}  INR
2019-12-24  {'EUR': 0.0126658434}  INR
2019-12-27  {'EUR': 0.0125569773}  INR
2019-12-30  {'EUR': 0.0125294442}  INR
2019-12-31  {'EUR': 0.0124708494}  INR

[2559 rows x 2 columns]

In [25]:
import matplotlib.pyplot as plt

In [42]:
df = history_term('2010-01-01', '2019-12-31', base='EUR')

In [43]:
df

                                                        rates base
2010-01-04  {'CAD': 1.4953, 'HKD': 11.1608, 'LVL': 0.7093,...  EUR
2010-01-05  {'CAD': 1.4952, 'HKD': 11.2017, 'LVL': 0.7094,...  EUR
2010-01-06  {'CAD': 1.492, 'HKD': 11.129, 'LVL': 0.7095, '...  EUR
2010-01-07  {'CAD': 1.4789, 'HKD': 11.093, 'LVL': 0.7093, ...  EUR
2010-01-08  {'CAD': 1.4781, 'HKD': 11.0699, 'LVL': 0.7093,...  EUR
...                                                       ...  ...
2019-12-23  {'CAD': 1.4577, 'HKD': 8.6232, 'ISK': 135.4, '...  EUR
2019-12-24  {'CAD': 1.4582, 'HKD': 8.629, 'ISK': 135.6, 'P...  EUR
2019-12-27  {'CAD': 1.4592, 'HKD': 8.6845, 'ISK': 135.6, '...  EUR
2019-12-30  {'CAD': 1.4621, 'HKD': 8.7133, 'ISK': 135.8, '...  EUR
2019-12-31  {'CAD': 1.4598, 'HKD': 8.7473, 'ISK': 135.8, '...  EUR

[2559 rows x 2 columns]

In [44]:
df

                                                        rates base
2010-01-04  {'CAD': 1.4953, 'HKD': 11.1608, 'LVL': 0.7093,...  EUR
2010-01-05  {'CAD': 1.4952, 'HKD': 11.2017, 'LVL': 0.7094,...  EUR
2010-01-06  {'CAD': 1.492, 'HKD': 11.129, 'LVL': 0.7095, '...  EUR
2010-01-07  {'CAD': 1.4789, 'HKD': 11.093, 'LVL': 0.7093, ...  EUR
2010-01-08  {'CAD': 1.4781, 'HKD': 11.0699, 'LVL': 0.7093,...  EUR
...                                                       ...  ...
2019-12-23  {'CAD': 1.4577, 'HKD': 8.6232, 'ISK': 135.4, '...  EUR
2019-12-24  {'CAD': 1.4582, 'HKD': 8.629, 'ISK': 135.6, 'P...  EUR
2019-12-27  {'CAD': 1.4592, 'HKD': 8.6845, 'ISK': 135.6, '...  EUR
2019-12-30  {'CAD': 1.4621, 'HKD': 8.7133, 'ISK': 135.8, '...  EUR
2019-12-31  {'CAD': 1.4598, 'HKD': 8.7473, 'ISK': 135.8, '...  EUR

[2559 rows x 2 columns]

In [45]:
history_term('2010-01-01', '2019-12-31', base='EUR', symbols='INR')

                       rates base
2010-01-04   {'INR': 66.621}  EUR
2010-01-05   {'INR': 66.787}  EUR
2010-01-06   {'INR': 65.766}  EUR
2010-01-07    {'INR': 65.38}  EUR
2010-01-08    {'INR': 65.31}  EUR
...                      ...  ...
2019-12-23  {'INR': 78.9455}  EUR
2019-12-24  {'INR': 78.9525}  EUR
2019-12-27   {'INR': 79.637}  EUR
2019-12-30   {'INR': 79.812}  EUR
2019-12-31   {'INR': 80.187}  EUR

[2559 rows x 2 columns]

In [48]:
df['rates'].apply(lambda x: x['INR'])

2010-01-04    66.6210
2010-01-05    66.7870
2010-01-06    65.7660
2010-01-07    65.3800
2010-01-08    65.3100
               ...
2019-12-23    78.9455
2019-12-24    78.9525
2019-12-27    79.6370
2019-12-30    79.8120
2019-12-31    80.1870
Name: rates, Length: 2559, dtype: float64