In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.read_json('../data.json')

,rates,start_at,base,end_at
2019-01-02,"{'CAD': 1.5547, 'HKD': 8.9294, 'ISK': 133.4, '...",2019-01-01,EUR,2019-12-31
2019-01-03,"{'CAD': 1.5392000000000001, 'HKD': 8.8884, 'IS...",2019-01-01,EUR,2019-12-31
2019-01-04,"{'CAD': 1.5328, 'HKD': 8.9325, 'ISK': 134.0, '...",2019-01-01,EUR,2019-12-31
2019-01-07,"{'CAD': 1.5281, 'HKD': 8.9677, 'ISK': 135.2, '...",2019-01-01,EUR,2019-12-31
2019-01-08,"{'CAD': 1.5208, 'HKD': 8.9671, 'ISK': 136.1, '...",2019-01-01,EUR,2019-12-31
...,...,...,...,...
2019-12-23,"{'CAD': 1.4577, 'HKD': 8.6232, 'ISK': 135.4, '...",2019-01-01,EUR,2019-12-31
2019-12-24,"{'CAD': 1.4582, 'HKD': 8.629, 'ISK': 135.6, 'P...",2019-01-01,EUR,2019-12-31
2019-12-27,"{'CAD': 1.4592, 'HKD': 8.6845, 'ISK': 135.6, '...",2019-01-01,EUR,2019-12-31
2019-12-30,"{'CAD': 1.4621, 'HKD': 8.7133, 'ISK': 135.8, '...",2019-01-01,EUR,2019-12-31
2019-12-31,"{'CAD': 1.4598, 'HKD': 8.7473, 'ISK': 135.8, '...",2019-01-01,EUR,2019-12-31

In [3]:
pd.read_json('../data.json')['rates']

2019-01-02    {'CAD': 1.5547, 'HKD': 8.9294, 'ISK': 133.4, '...
2019-01-03    {'CAD': 1.5392000000000001, 'HKD': 8.8884, 'IS...
2019-01-04    {'CAD': 1.5328, 'HKD': 8.9325, 'ISK': 134.0, '...
2019-01-07    {'CAD': 1.5281, 'HKD': 8.9677, 'ISK': 135.2, '...
2019-01-08    {'CAD': 1.5208, 'HKD': 8.9671, 'ISK': 136.1, '...
                                    ...
2019-12-23    {'CAD': 1.4577, 'HKD': 8.6232, 'ISK': 135.4, '...
2019-12-24    {'CAD': 1.4582, 'HKD': 8.629, 'ISK': 135.6, 'P...
2019-12-27    {'CAD': 1.4592, 'HKD': 8.6845, 'ISK': 135.6, '...
2019-12-30    {'CAD': 1.4621, 'HKD': 8.7133, 'ISK': 135.8, '...
2019-12-31    {'CAD': 1.4598, 'HKD': 8.7473, 'ISK': 135.8, '...
Name: rates, Length: 255, dtype: object

In [4]:
pd.read_json('../data.json')['rates'][0]

{'CAD': 1.5547,
 'HKD': 8.9294,
 'ISK': 133.4,
 'PHP': 59.894,
 'DKK': 7.4669,
 'HUF': 322.37,
 'CZK': 25.752,
 'AUD': 1.6273,
 'RON': 4.66,
 'SEK': 10.2145,
 'IDR': 16484.11,
 'INR': 79.9855,
 'BRL': 4.393,
 'RUB': 79.3589,
 'HRK': 7.4205,
 'JPY': 124.28,
 'THB': 36.807,
 'CHF': 1.1239,
 'SGD': 1.5554999999999999,
 'PLN': 4.2964,
 'BGN': 1.9558,
 'TRY': 6.113,
 'CNY': 7.8165,
 'NOK': 9.9108,
 'NZD': 1.7049,
 'ZAR': 16.5075,
 'USD': 1.1397,
 'MXN': 22.3941,
 'ILS': 4.2708,
 'GBP': 0.9016500000000001,
 'KRW': 1278.52,
 'MYR': 4.7195}

In [5]:
df = pd.read_json('../data.json')

In [6]:
df

,rates,start_at,base,end_at
2019-01-02,"{'CAD': 1.5547, 'HKD': 8.9294, 'ISK': 133.4, '...",2019-01-01,EUR,2019-12-31
2019-01-03,"{'CAD': 1.5392000000000001, 'HKD': 8.8884, 'IS...",2019-01-01,EUR,2019-12-31
2019-01-04,"{'CAD': 1.5328, 'HKD': 8.9325, 'ISK': 134.0, '...",2019-01-01,EUR,2019-12-31
2019-01-07,"{'CAD': 1.5281, 'HKD': 8.9677, 'ISK': 135.2, '...",2019-01-01,EUR,2019-12-31
2019-01-08,"{'CAD': 1.5208, 'HKD': 8.9671, 'ISK': 136.1, '...",2019-01-01,EUR,2019-12-31
...,...,...,...,...
2019-12-23,"{'CAD': 1.4577, 'HKD': 8.6232, 'ISK': 135.4, '...",2019-01-01,EUR,2019-12-31
2019-12-24,"{'CAD': 1.4582, 'HKD': 8.629, 'ISK': 135.6, 'P...",2019-01-01,EUR,2019-12-31
2019-12-27,"{'CAD': 1.4592, 'HKD': 8.6845, 'ISK': 135.6, '...",2019-01-01,EUR,2019-12-31
2019-12-30,"{'CAD': 1.4621, 'HKD': 8.7133, 'ISK': 135.8, '...",2019-01-01,EUR,2019-12-31
2019-12-31,"{'CAD': 1.4598, 'HKD': 8.7473, 'ISK': 135.8, '...",2019-01-01,EUR,2019-12-31

In [13]:
df['rates'][0]['INR']

79.9855

In [48]:
data = pd.DataFrame(columns=['date', 'base', 'start_at', 'end_at'])
for rate, date, n, base, start_at, end_at in zip(df['rates'], df.index, range(df.shape[0]), df['base'], df['start_at'], df['end_at']):
    data = data.append({k:rate[k] for k in rate}, ignore_index=True)
    data['date'][n] = date
    data['base'][n] = base
    data['start_at'][n] = start_at
    data['end_at'][n] = end_at
data.index = data['date']
data.drop(['date'], axis=1, inplace=True)
data['start_at'] = data['start_at'].astype('datetime64[D]')
data['end_at'] = data['end_at'].astype('datetime64[D]')

<ipython-input-48-0d15379be50a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'][n] = date
<ipython-input-48-0d15379be50a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['base'][n] = base
<ipython-input-48-0d15379be50a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['start_at'][n] = start_at
<ipython-input-48-0d15379be50a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['end_at'][n] = end_at

In [61]:
data

,base,start_at,end_at,AUD,BGN,BRL,CAD,CHF,CNY,CZK,...,PHP,PLN,RON,RUB,SEK,SGD,THB,TRY,USD,ZAR
date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,EUR,2019-01-01,2019-12-31,1.6273,1.9558,4.3930,1.5547,1.1239,7.8165,25.752,...,59.894,4.2964,4.6600,79.3589,10.2145,1.5555,36.807,6.1130,1.1397,16.5075
2019-01-03,EUR,2019-01-01,2019-12-31,1.6287,1.9558,4.2814,1.5392,1.1219,7.8019,25.683,...,59.679,4.2975,4.6660,78.2615,10.2808,1.5501,36.518,6.2248,1.1348,16.4149
2019-01-04,EUR,2019-01-01,2019-12-31,1.6189,1.9558,4.2889,1.5328,1.1256,7.8280,25.653,...,59.809,4.2957,4.6656,77.6790,10.2460,1.5525,36.587,6.1707,1.1403,16.1175
2019-01-07,EUR,2019-01-01,2019-12-31,1.6040,1.9558,4.2289,1.5281,1.1227,7.8421,25.572,...,59.980,4.2908,4.6625,76.5664,10.2235,1.5531,36.607,6.1325,1.1445,15.8644
2019-01-08,EUR,2019-01-01,2019-12-31,1.6042,1.9558,4.2604,1.5208,1.1232,7.8405,25.642,...,60.057,4.3055,4.6710,76.7197,10.1855,1.5549,36.705,6.2851,1.1440,16.0365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-23,EUR,2019-01-01,2019-12-31,1.6008,1.9558,4.5220,1.4577,1.0870,7.7652,25.499,...,56.471,4.2609,4.7733,69.0297,10.4473,1.5018,33.408,6.5834,1.1075,15.7605
2019-12-24,EUR,2019-01-01,2019-12-31,1.6019,1.9558,4.5246,1.4582,1.0878,7.7643,25.485,...,56.331,4.2598,4.7790,68.7932,10.4553,1.5017,33.412,6.5994,1.1080,15.7264
2019-12-27,EUR,2019-01-01,2019-12-31,1.5996,1.9558,4.5157,1.4592,1.0890,7.8025,25.509,...,56.574,4.2671,4.7818,69.2013,10.4363,1.5083,33.632,6.6449,1.1153,15.6649
2019-12-30,EUR,2019-01-01,2019-12-31,1.5992,1.9558,4.5128,1.4621,1.0871,7.8175,25.463,...,56.784,4.2567,4.7821,69.2781,10.4400,1.5088,33.472,6.6567,1.1189,15.7398
2019-12-31,EUR,2019-01-01,2019-12-31,1.5995,1.9558,4.5157,1.4598,1.0854,7.8205,25.408,...,56.900,4.2568,4.7830,69.9563,10.4468,1.5111,33.415,6.6843,1.1234,15.7773